<title>View all squadrons by {{ author }}</title>
<script src="../public/js/shapeCreator.js"></script>
<script>
    window.onload = function() {
        if (document.getElementById("newSquad")) {
            document.getElementById("newSquad").onclick = function() {
                $.post("/api/create_squadron", {
                    name: $("#name").val(),
                    units: Array(12).fill(0).join(","),
                }, (res, status) => {
                    document.location.assign(`/editTeam/${ res }`);
                });
            }
        }
    }
</script>

<div class="container">
    <h1 class="title-mid">Squadrons by {{ author }}</h1>
    <div class="viewSquadContainer">
        {{#each squadrons }}
        <a class="thumbnailContainer" href="/viewTeam/{{ id }}">
            <h2>{{ name }}</h2>
            <div class="thumbnail">{{{createThumbnail units }}}</div>
        </a>
        {{/each }}
    </div>    

    {{#if userID }}
    <div class="newSquadContainer">
        <button id="newSquad" class="matButton">create</button>
        <input id="name" type="text" class="matInput" val="squad name" />
    </div>
    {{/if }}
</div>