<title>View squadron {{ name }}</title>
<script src="../public/js/shapeCreator.js"></script>
<script>
	window.onload = function() {
		SHAPES = $("#units").val().split(",").map(x => parseInt(x));
		SHAPES.forEach((id, i) => {
			if (id === 0) return;

			let x = i % 6;
			let y = Math.floor(i / 6);

			let newShape = loadShape(x, y, id, document);

			newShape.classList.add("viewUnit");
			document.getElementById("lineup").appendChild(newShape);
		});

		if (document.getElementById("toEdit")) {
			document.getElementById("toEdit").onclick = function() {
				const id = document.location.href.split("/")[document.location.href.split("/").length - 1];
				document.location.assign(`/editTeam/${ id }`);
			}
		}

		if (document.getElementById("toFight")) {
			document.getElementById("toFight").onclick = function() {
				const id = document.location.href.split("/")[document.location.href.split("/").length - 1];
				document.location.assign(`/battleSelect/${ id }`);
			}
		}
	}
</script>

<div class="container">
	<h1>{{ name }} by {{ author }}</h1>
	<svg id="lineup" height="200" width="600">
		<defs>
			<pattern id="smallGrid" width="100" height="100" patternUnits="userSpaceOnUse">
				<path d="M 0,0 l 100,0 0,100 -100,0 0,-100" fill="none" stroke-width="1"/>
			</pattern>
			<pattern id="grid" width="600" height="600" patternUnits="userSpaceOnUse">
				<rect width="600" height="200" fill="url(#smallGrid)"/>
				<path d="M 0,0 l 600,0 0,200 -600,0 0,-200" fill="none" stroke-width="5"/>
			</pattern>
		</defs>

		<rect id="bg" width="100%" height="100%" fill="url(#grid)" />
	</svg>
	{{#if mine}}
		<button id="toEdit" class="matButton">edit</button>
	{{else if userID }}
		<button id="toFight" class="matButton red">fight</button>
	{{/if}}	

	<input id="units" type="text" hidden="hidden" value="{{ units }}" />
</div>